* {
    margin: 0;
    padding: 0;
}
#canvas1 {
    position: absolute;
}
.controls {
    position: absolute;
    z-index: 100;
}
img {
    display: none;
}
button {
    padding: 10px;
    font-size: 30px;
    margin: 20px;
    font-family: "Bangers", serif;
    color: white;
    background: black;
    transition: 100ms;
}
button:hover {
    color: black;
    background: white;
}
body {
    background-color: #d3d3d3;
}
