* {
    margin: 0;
    padding: 0;
}
#canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}
#backgroundText {
    font-family: "Rubik", serif;
    font-weight: 600;
    font-size: 40px;
    opacity: 20%;
    transform: rotate(-20deg);
    position: absolute;
}
canvas {
    z-index: 25;
    display: none;
    max-width: 120%;
    padding-bottom: 30px;
}
img {
    z-index: 25;
    max-width: 120%;
    padding-bottom: 30px;
    display: none;
}
#img1 {
    display: block;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d3d3d3;
    overflow: hidden;
}
#instagram {
    background-color: #d3d3d3;
    width: 100%;
    display: flex;
    gap: 6px;
    position: absolute;
    padding: 8px 0px 12px;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    z-index: 50;
}
#link {
    font-family: "Rubik", serif;
    text-decoration: none;
    color: inherit;
    transition: color 100ms ease;
}
#link:hover {
    color: #6265ba;
}
#touchHint {
    position: absolute;
    z-index: 100;
    animation: slide-in 1.5s ease-in-out infinite;
}
@keyframes slide-in {
    0% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(-20px);
    }
}
