:root {
    --super-light: #c9cfd1;
    --light: #9fa3a7;
    --medium: #505162;
    --dark: #373442;
}
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light);
    overflow: hidden;
}
#backgroundText {
    font-family: "Rubik", serif;
    font-weight: 600;
    font-size: 40px;
    opacity: 20%;
    transform: rotate(-20deg);
    position: absolute;
}
#progressBackground {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: var(--light);
    top: 0px;
    width: calc(100% - 24px);
    height: 24px;
    z-index: 50;
    padding: 12px;
    padding-top: 16px;
}
#progressBar {
    background-color: var(--dark);
    outline: 5px solid var(--dark);
    width: 400px;
    max-width: 100%;
    height: 100%;
    border-radius: 8px;
}
#progress {
    background-color: var(--super-light);
    width: 0%;
    height: 100%;
    border-radius: 8px;
    border-color: var(--dark);
    border-width: 4px;
}
#percentage {
    color: white;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-40%, -50%);
    font-family: "Rubik", serif;
    mix-blend-mode: difference; /* Add this line */
}
#canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}
canvas {
    z-index: 25;
    display: none;
    max-width: 125%;
    padding-bottom: 30px;
}
img {
    display: none;
}
#img1 {
    z-index: 25;
    display: block;
    max-width: 101%;
    padding-bottom: 30px;
}
#instagramContainer {
    position: absolute;
    background-color: var(--light);
    width: 100%;
    z-index: 50;
    bottom: 0px;
    display: flex;
    justify-content: center;
    padding: 8px;
    padding-bottom: 12px;
}
#instagram {
    background-color: var(--dark);
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: 400px;
    border-radius: 12px;
    padding: 2px 0px 6px;
    align-items: center;
    justify-content: center;
    font-family: "Rubik", serif;
    text-decoration: none;
    color: var(--super-light);
    outline: 3px solid transparent;
}
#instagram:hover {
    outline-color: var(--light);
    filter: brightness(1.2);
}
#touchHint {
    position: absolute;
    z-index: 100;
    animation: slide-in 1.5s ease-in-out infinite;
}
@keyframes slide-in {
    0% {
        transform: translateX(-20px);
    }
    50% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(-20px);
    }
}
